/*html {

    height: 100%; 
}*/

body {
    margin: 0 auto;
    font-family: Arial;
}

.btn-info {

    background-color: 
}

.row {


 padding: 25px; 
  

}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
/**/

li {
    padding: 5px;
}


/***********************************************************************
 *  Container
 **********************************************************************/
.container {
   padding-top: 90px; 
   
}

img {

    max-width: 100%;
    max-height: 100%;
}





/***********************************************************************
 *  Jumbotron LaTeam
 **********************************************************************/

 .jumbotron {

 		background-image: url("./img/LaTeam.jpg");
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover; 
	
	padding-bottom: 200px; 


 }




/***********************************************************************
 *  Footer
 **********************************************************************/

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 
 **********************************************************************/


/***********************************************************************
 *  Red Background
 **********************************************************************/

/***********************************************************************
 *  Yellow Background
 **********************************************************************/

/***********************************************************************
 *  Blue Background
 **********************************************************************/
